{% extends 'shop/basic.html' %}

{% block title %} title of about{% endblock %}

{% block css %}
<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

.lead{
  font-size: 20px;
  font-weight: 400;
}

    </style>
{% endblock %}
{% block body %}
<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
       <rect> <img src="https://img.freepik.com/free-photo/product-package-boxes-shopping-bag-cart-with-laptop-online-shopping-delivery-concept_38716-138.jpg?size=626&ext=jpg" style="margin-left: 31%;">
       </rect><div class="container">
          <div class="carousel-caption text-start">
            <br>
            <br>
            <br>
            <br>
            <p><a class="btn btn-lg" style="background-color: blue; border-color: wheat; color: azure;"  href="/shop/">Visit us</a></p>
          </div>
        </div>
      </div>
    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel"  style="background-color: rgb(255, 0, 149);">
    
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel"  style="background-color: rgb(47, 0, 255);">
       </button>
  </div>
  <br>



  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="pink" /></svg>

        <h2>My Awesome Cart</h2>
        <p>Over 8000 direct job positions currently available in India. 140 Amazon recruiters will offer over 2000 one-on-one career coaching sessions for interested participants to help grow in their careers at the company or elsewhere. This virtual and interactive event will bring together Amazon leadership and employees to share what makes Amazon an exciting workplace, what is it like to work here and how the company is steadfast in its commitment to help India unleash its true potential in the 21st century.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="blue" /></svg>

        <h2>Working</h2>
        <p>
          Our Operations and award-winning Customer Service teams are at the heart of Amazon’s mission to be Earth’s most customer-centric company. Together, we create, we build and we take ownership for what we do—whether we are developing new technology in-house, launching an Amazon fulfilment centre or delighting our customers by delivering packages directly to them. We are constantly creating the ideas, services and products that make life easier for millions of customers</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="green"/></svg>

        <h2>Our Empact</h2>
        <p>
          Our Operations and award-winning Customer Service teams are at the heart of Amazon’s mission to be Earth’s most customer-centric company. Together, we create, we build and we take ownership for what we do—whether we are developing new technology in-house, launching an Amazon fulfilment centre or delighting our customers by delivering packages directly to them. We are constantly creating the ideas, services and products that make life easier for millions of customers</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading" style="color:rgb(206, 103, 7); font-family: Baloo Bhai, cursive;">Supporting employees and their families </h2><h4><span class="text-muted">It’ll blow your mind.</span></h4>
        <p class="lead">Supporting our employee base of over 1 lakh as they navigate the COVID-19 crisis remains a key priority for us. We have scaled up our relief efforts for employees and their families too, including access to OCs, medical infrastructure and other supplies, quarantine facilities in partnership with hotels, medical shelters for moderately impacted COVID patients in partnership with hospitals, vaccination support, financial support, revision of the leave policy, EAP support, and more. </p>
      </div>
      <div class="col-md-5">
        <img src="https://4.imimg.com/data4/IR/TM/MY-23123427/online-shopping-website-500x500.png" height="110%">
      </div>
    </div>
<br>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading" style="color:rgb(199, 14, 255); font-family: Baloo Bhai, cursive;">Economic Innovations</h2><h4><span class="text-muted">Learn here</span></h4>
        <p class="lead">Amazon’s ‘I Have Space’ (IHS) program handles a significant chunk of its logistics solutions in India’s small towns as well as metro cities. It is instrumental in fulfilling customer promises as well as in transforming lives across the country. Its program partners are local entrepreneurs—general store owners, kiosk owners, mobile accessories, repair and recharge shopkeepers, grocery store owners, vegetable vendors, etc.—who help out in enabling deliveries.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="https://previews.123rf.com/images/microone/microone1811/microone181101531/112775836-online-shopping-concept-modern-payment-technology-with-mobile-phone-in-on-line-shop-website-design-o.jpg" width="100%" height="110%">
      </div>
    </div>
<br>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading" style="color:rgb(255, 0, 76); font-family: Baloo Bhai, cursive;">Creating Jobs</h2><h4><span class="text-muted">Checkmate.</span></h4>
        <p class="lead">Amazon plans to create 1 million new jobs in India by 2025 through continued investments in technology, infrastructure, and its logistics network. The jobs, created both directly and indirectly, will be across industries, including information technology, skill development, content creation, retail, logistics, and manufacturing, and are in addition to the 700,000 jobs Amazon’s investments have enabled over the last six years in India.</p>
      </div>
      <div class="col-md-5">
        <img src="https://i.ytimg.com/vi/ZbnvP_hmxfE/maxresdefault.jpg" width="110%">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


</main>





<!-- Footer -->
<footer class="page-footer font-small pt-4" style="background-color: rgb(29, 29, 99); color: aliceblue;">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left mt-3 pb-3">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Praaki</h6>
        <p> The internet has revolutionised the way we do our shopping. The businessman regards the internet as a modern effective tool for business transactions. Online shopping is the act of purchasing products or services over the internet..</p>
      </div>
      <hr class="w-100 clearfix d-md-none" style=" border-top: 1px solid #f8f9fa;">
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
        <p>
          <a href="#!">Gaming Mouse</a>
        </p>
        <p>
          <a href="#!">Expensive Wrist Watches</a>
        </p>
        <p>
          <a href="#!">Laptop</a>
        </p>
        <p>
          <a href="#!">Shoes</a>
        </p>
      </div>
      <hr class="w-100 clearfix d-md-none" style=" border-top: 1px solid #f8f9fa;">
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
        <p>
          <a href="/shop/">Home</a>
        </p>
        <p>
          <a href="/shop/checkout/">Your Account</a>
        </p>
        <p>
          <a href="/shop/about/">About Us</a>
        </p>
        <p>
          <a href="/shop/contact/">Help</a>
        </p>
      </div>
      <hr class="w-100 clearfix d-md-none" style=" border-top: 1px solid #f8f9fa;">
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p>
          <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> mycart2403@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
        <p>
          <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
      </div>
    </div>
    <hr style=" border-top: 1px solid #f8f9fa;">
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">
        <p class="text-center text-md-left">© 2020 Copyright:
          <a href="#">
            <strong> mycart.com</strong>
          </a>
        </p>
      </div>
      <div class="col-md-5 col-lg-4 ml-lg-0">
      <div class="row">
            <div class="col-md-12 py-5">
              <div class="mb-5 flex-center">
                <a href="https://twitter.com">
                  <i ><img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-logo-vector-png-clipart-1.png" style="width: 12%; margin-top: 1%;"> </i>
        </a>
                <a href="https://instagram.com">
                  <i> <img src="http://assets.stickpng.com/images/580b57fcd9996e24bc43c521.png" style="width: 12%; margin-top: 1%; margin-left: 3%;"></i>
                </a>
                <a href="https://github.com">
                    <i> <img src="https://user-images.githubusercontent.com/6385983/34427109-5772d042-ec0c-11e7-896d-7e9096b92856.png" style="width: 12%; margin-top: 1%; margin-left: 3%; border-radius: 8px; border-top:  1px;"></i>
                  </a>
                  <a href="https://youtube.com">
                  <i ><img src="https://www.freeiconspng.com/thumbs/youtube-logo-png/youtube-logo-png-picture-13.png" style="width: 16%; margin-top: 1%; margin-left: 2%"> </i>
                </a>
                <a href="https://facebook.com">
                  <i ><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRg-JpfC4gKgHEHQeUuv4LrEpy5In1LnWkwgwMTxE_SIGHeG4EaPw4juf0w6nn5SDQj5mw&usqp=CAU" style="width: 12%; margin-top: 1%; margin-left: 2%; border-radius: 8px;"> </i>
                </a>
                <a href="https://google.com">
                  <i ><img src="https://ipullrank.com/wp-content/uploads/2020/07/png-transparent-google-logo-g-suite-google-guava-google-plus-company-text-logo.png" style="width: 12%; margin-top: 1%; margin-left: 2%; border-radius: 50%"> </i>
                </a>
              </div>
            </div>
          </div>
      </div>
    </div>
      </div>
</footer>



{% endblock%}
{% block js %}
    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}